*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

header {
    background-color: white;
}

body {
    background-color: lightgrey;
}

.bottone1 {
    margin : 10px 0px 40px 40px;
    display: inline-block;
    border: 4px;
    background-color: blue;
    padding: 4px;
    color: white;
    width: 100px;
    border-radius: 4px;
    text-align: center;
  }

  .bottone2{
    margin : 10px 10px 40px 2px;
    display: inline-block;
    border: 4px;
    background-color: white;
    padding: 4px;
    color: grey;
    width: 100px;
    border-radius: 4px;
    text-align: center;
  }

  .new-task {
    margin-left: 40px;
  }

  .today {
    margin-left: 40px;

  }

  .upcoming {
    margin-left: 40px;
  }
  .blu {
    display: inline-block;
    border: 4px;
    background-color: blue;
    padding: 4px;
    color: white;
    width: 100px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 30px;
  }

  .spunta {
    color: green;
    border: 1px solid green;
    margin-right: 5px ;
    margin-left: 40px;
  }

  .spunta1 {
    color: red;
    border: 1px solid red;
    margin-right: 5px ;
    margin-left: 40px;
  }

  .verde {
     border-radius: 50%;
     text-align: center;
     margin-left: 40px;
  }

  .rossa {
    border-radius: 50%;
    text-align: center;
    margin-left: 40px;
 }

  .viola {
    display: inline-block;
    border: 4px;
    background-color:fuchsia;
    padding: 4px;
    color: white;
    width: 100px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 5px;
  }

  .bottone-verde {
        display: inline-block;
        border: 4px;
        background-color: lightgreen;
        padding: 4px;
        color: white;
        width: 100px;
        border-radius: 4px;
        text-align: center;
        margin-bottom: 5px;
      }
  
.arancione  {
        display: inline-block;
        border: 4px;
        background-color: orangered;
        padding: 4px;
        color: white;
        width: 100px;
        border-radius: 4px;
        text-align: center;
        margin-bottom: 30px;
}
  
.verdino {
        display: inline-block;
        border: 4px;
        background-color: greenyellow;
        padding: 4px;
        color: white;
        width: 100px;
        border-radius: 4px;
        text-align: center;
        margin-bottom: 5px;
}

.fucsia {
    display: inline-block;
    border: 4px grey;
    background-color:fuchsia;
    padding: 4px;
    color: white;
    width: 100px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 5px ;
}